.resume-heading {
    h3 {
        font-size: 35px;

        span {
            border-bottom: 2px solid #34b7a7;
        }
    }
}


.resume-data {
    .resume-data-heading {
        font-size: 30px;
        margin: 50px 0 20px 0px;
    }

    .sidelines {
        margin-top: 50px;
        border-left: 2px solid #34b7a7;
        height: max-content;
        position: relative;
        padding-bottom: 10px;

        .resume-data-content {
            margin-left: 30px;

            h4 {
                padding-left: 15px;
                margin-top: -20px;
            }

            p {
                padding-left: 15px;
            }
        }
        .badge {
        background-color: $teal-100;
        color: $teal;
        margin-left: 15px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 15px;
        border-radius: 1px;
        }
    }
}

.chaukor {
    width: 20px;
    height: 20px;
    border: 2px solid #34b7a7;
    border-radius: 50px;
    position: absolute;
    margin-left: -10px;
    background-color: white;
}
.chaukor-2 {
    margin-left: -41px;
    margin-top: 36px;
}

@include media-breakpoint-up(md) {
    .resume-data-main {
        display: flex;
    }
}